Repository oppia/oppia-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oppia/owners, @BenHenning, @anandwana001, @rt4914, @vinitamurthi

.github/CODEOWNERS:

# Per-directory ownership and automatic assignment for pull requests.

# IMPORTANT NOTES FOR CODEOWNERS:
#
# - If you will be unavailable for more than 24 hours, please replace your
#   ownership with a delegate, file an issue, and add a todo above the owner
#   line like so:
#
#     TODO(#ISSUE_NUMBER): Revert ownership to @USERNAME after YYYY-MM-DD.
#
#   (See oppia/#10250 for an example.) Please make sure to restore ownership after
#   the above date passes.

# Blanket codeowners
# This is for the case when new files are created in any directories that aren't
# covered as a whole, since in these cases, codeowners are not recognized for
# those files when reviewing, even if the PR does add it. Unless new
# files/folders are created in the following directories, these codeowners would
# be superseded by the relevant codeowners mentioned elsewhere in this file.
# (Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners)

#####################################################################################
#                                 Blanket ownership                                 #
#####################################################################################

# Codeowners ownership (for adding/changing/removing code owners).
.github/CODEOWNERS @oppia/owners

# Bazel build files.
WORKSPACE @BenHenning
*.bzl @BenHenning
*.bazel @BenHenning
.bazelrc @BenHenning
/tools/android/ @BenHenning

# Gradle build files.
*.gradle @BenHenning
gradle.properties @BenHenning
gradlew @BenHenning
gradlew.bat @BenHenning
/gradle/ @BenHenning

# GitHub configuration files.
.gitignore @BenHenning
/.github/*.md @BenHenning
/.github/ISSUE_TEMPLATE @BenHenning

# CI configuration.
/.github/workflows/ @BenHenning

# All tests.
*Test.kt @anandwana001

# All resource files.
/app/src/main/res/**/*.xml @rt4914
/utility/src/main/res/**/*.xml @rt4914

# Proguard configuration.
*.pro @BenHenning

# Lesson assets.
/domain/src/main/assets/ @BenHenning @rt4914

# Android manifests and top-level app configuration.
*Manifest.xml @BenHenning

# Linter configuration.
buf.yaml @anandwana001

# IDEA IDE configuration.
.editorconfig @BenHenning
/.idea/ @BenHenning

# Robolectric configuration.
*.properties @BenHenning

# Firebase configuration.
/app/google-services.json @BenHenning

# Binary files.
*.png @BenHenning

# Important codebase files.
LICENSE @BenHenning

#####################################################################################
#                                    app module                                     #
#####################################################################################

# Global app module code ownership.
/app/**/*.kt @rt4914
/app/**/*.java @rt4914

# State players.
/app/src/*/java/org/oppia/android/app/player/ @BenHenning

# Bindable adapter utilities.
/app/src/main/java/org/oppia/android/app/recyclerview/BindableAdapter.kt @BenHenning
/app/src/main/java/org/oppia/android/app/recyclerview/RecyclerViewBindingAdapter.java @BenHenning
/app/src/sharedTest/java/org/oppia/android/app/recyclerview/BindableAdapterTest.kt @BenHenning

# Dagger configuration.
/app/src/main/java/org/oppia/android/app/activity/ @BenHenning
/app/src/main/java/org/oppia/android/app/application/ @BenHenning
/app/src/main/java/org/oppia/android/app/fragment/ @BenHenning
/app/src/main/java/org/oppia/android/app/view/ @BenHenning

# Databinding adapters.
/app/src/main/java/org/oppia/android/app/databinding/ @BenHenning

# App deprecation functionality.
/app/src/*/java/org/oppia/android/app/deprecation/ @BenHenning

# Parsing functionality needed for interactions.
/app/src/*/java/org/oppia/android/app/parser/ @BenHenning

# Bazel/data-binding shims.
/app/src/*/java/org/oppia/android/app/shim/ @BenHenning

# Splash screen.
/app/src/*/java/org/oppia/android/app/splash/ @BenHenning

# View model infrastructure.
/app/src/*/java/org/oppia/android/app/viewmodel/ @BenHenning

# App testing infrastructure.
/app/src/*/java/org/oppia/android/app/testing/ @anandwana001

#####################################################################################
#                                  domain module                                    #
#####################################################################################

# Global domain module code ownership.
/domain/**/*.kt @BenHenning

# Questions support.
/domain/src/*/java/org/oppia/android/domain/question/ @vinitamurthi

# Oppia logging support.
/domain/src/main/java/org/oppia/android/domain/oppialogger/ @vinitamurthi

#####################################################################################
#                                  testing module                                   #
#####################################################################################

# Global testing module code ownership.
/testing/**/*.kt @anandwana001 @BenHenning

#####################################################################################
#                                    data module                                    #
#####################################################################################

# Global data module code ownership.
/data/**/*.kt @BenHenning
/data/src/test/**/*.json @BenHenning

#####################################################################################
#                                  utility module                                   #
#####################################################################################

# Global utility module code ownership.
/utility/**/*.kt @BenHenning

# Accessibility utilities.
/utility/src/*/java/org/oppia/android/util/accessibility/ @rt4914

# Core logging infrastructure.
/utility/src/*/java/org/oppia/android/util/logging/ @vinitamurthi

# Miscellaneous statusbar UI utilities.
/utility/src/*/java/org/oppia/android/util/statusbar/ @rt4914

#####################################################################################
#                                     scripts                                       #
#####################################################################################

# Global scripts code ownership.
/scripts/ @anandwana001 @BenHenning

#####################################################################################
#                                      model                                        #
#####################################################################################

# Global proto file ownership (for protos outside the model directory since all protos should belong in models).
*.proto @BenHenning @vinitamurthi

# Global model ownership.
/model/ @vinitamurthi @BenHenning

updated with develop
  app/src/main/java/org/oppia/android/app/home/topiclist/ComingSoonTopicListAdapter.kt
  app/src/main/java/org/oppia/android/app/home/topiclist/ComingSoonTopicsListViewModel.kt
  domain/src/main/assets/test_exp_id_4.json
  domain/src/main/java/org/oppia/android/domain/topic/StoryProgressController.kt
Owners: @rt4914, @BenHenning

Update TopicTestActivityForStory.kt
  app/src/main/java/org/oppia/android/app/testing/TopicTestActivityForStory.kt
Owners: @anandwana001

Fixed exploration id 4 json and testcase
  app/src/main/res/layout-land/coming_soon_topic_view.xml
  app/src/main/res/layout-sw600dp-land/coming_soon_topic_view.xml
  app/src/main/res/layout/coming_soon_topic_view.xml
  domain/src/main/assets/test_exp_id_4.json
  domain/src/test/java/org/oppia/android/domain/util/StateRetrieverTest.kt
Owners: @rt4914, @BenHenning

Resolving requested changes
  app/src/main/java/org/oppia/android/app/player/state/StatePlayerRecyclerViewAssembler.kt
  app/src/main/java/org/oppia/android/app/topic/questionplayer/QuestionPlayerFragment.kt
  app/src/main/java/org/oppia/android/app/topic/questionplayer/QuestionPlayerFragmentPresenter.kt
  app/src/sharedTest/java/org/oppia/android/app/player/state/StateFragmentTest.kt
  model/src/main/proto/exploration.proto
  model/src/main/proto/ui_state.proto
Owners: @BenHenning, @rt4914, @vinitamurthi

Re-enable previously failing skipped tests (Espresso only): (#2683)
  app/src/sharedTest/java/org/oppia/android/app/player/state/StateFragmentTest.kt
Owners: @BenHenning

Post-merge fixes.
  domain/BUILD.bazel
  testing/BUILD.bazel
  third_party/BUILD.bazel
Owners: @BenHenning

Move Bazel tests to new workflow.
  .github/workflows/main.yml
  .github/workflows/unit_tests.yml
Owners: @BenHenning
